<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Демо Bootstrap</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

</header>
<div class="p-3 mb-2 bg-dark text-white">
    <p class="font-weight-bold"><!-- Жирный текст  -->
    <h5>
        <tr>
            <td th:text="${#authentication.getPrincipal().getUsername()} + ' with roles: '">
            <td>
                <span th:each="role,iterStat : ${#authentication.getPrincipal().authorities}"
                      th:text="${role.toString()} + ${!iterStat.last ? ', ' : ''}"></span></td> <!-- Убираем [ ]  -->
        </tr>
    </h5>
    </p>
    <div class="float-right">  <!-- Выравние по правому краю -->
        <h4>
            <form th:action="@{/logout}" th:method="POST">
                <button type="submit" class="btn btn-dark float-end">Logout</button>
            </form>
        </h4>
    </div>
</div>
</header>
<div class="row">
    <div class="col-2">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                    aria-selected="true">Admin
            </button>
            <style>
                a {
                    text-decoration: none;
                }
            </style>
            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                    aria-selected="false"><a href="/user">User</a>
            </button>
        </div>
    </div>

    <div class="col-9">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
             aria-labelledby="v-pills-home-tab" tabindex="0">
            <h3>
                Admin panel
            </h3>
            <nav><!-- Навигация между новым юзером и таблицей. Начало-->
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                            aria-selected="true">Users tables
                    </button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-profile"
                            type="button" role="tab" aria-controls="nav-profile" aria-selected="false">New user
                    </button>
                </div>
            </nav>
            <div class="tab-content" id="v-pills-tabContent">
                <!-- Тело All users-->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="card">
                        <div class="card-header">
                            <h5>
                                All users
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-header">
                                        <thead>
                                        <tr class="table-active">
                                            <!--"Активное выделение таблицы" я просто сделал для серенького цвета-->
                                            <th scope="col">Id</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Level</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Update</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tableAdmin">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body" id="modal">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="myModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body" id="modal2">
                                                <form id="UpdateForm">
                                                    <div class="row">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Update
                                                                User</h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Закрыть"></button>
                                                        </div>
                                                        <div class="col-3">
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="col-6">
                                                                <div class="form-group text-center">
                                                                    <label for="idUp">ID:</label>
                                                                    <input type="text" class="form-control"
                                                                           name="id"
                                                                           id="idUp" disabled/>

                                                                    <label for="usernameUp">Username:</label>
                                                                    <input type="text" class="form-control" required
                                                                           name="username"
                                                                           id="usernameUp"/>

                                                                    <label for="passwordUp">Password:</label>
                                                                    <input type="password" class="form-control" required
                                                                           name="password"
                                                                           id="passwordUp"/>

                                                                    <label for="levelUp">Level:</label>
                                                                    <input type="text" class="form-control" required
                                                                           name="level"
                                                                           id="levelUp"/>

                                                                    <b>Roles</b>
                                                                    <select multiple size="2" class="form-control"
                                                                            name="roles"
                                                                            id="roleUp">
                                                                        <option value="admin">ADMIN</option>
                                                                        <option value="user">USER</option>
                                                                    </select>

                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-bs-dismiss="modal">Close
                                                                        </button>
                                                                        <button type="button" class="btn btn-danger"
                                                                                id="updateUserButtonInModal">Update
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Тело New user -->
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <h5>Add new user</h5>
            <div class="row g-0">
                <div class="col-4">
                </div>
                <div class="col-4">
                    <div class="col-4 form-control text-center">
                        <!--  Форма Нового юзера-->
                        <b> Username</b>
                        <br>
                        <input type="text" class="form-control text-center" name="username" id="username"
                               required>
                        <br>
                        <b> Password</b>
                        <br>
                        <input type="password" class="form-control text-center" name="password"
                               id="password" required>
                        <br>
                        <b>Level</b>
                        <br>
                        <input type="text" class="form-control text-center" name="level" id="level"
                               required>
                        <br>
                        <b>Role</b>
                        <br>

                        <select multiple size="2" class="form-control" name="Role" id="role">
                            <option value="admin">ADMIN</option>
                            <option value="user">USER</option>
                        </select>
                        <br>
                        <button class="btn btn-success" type="submit" id="greatUserButton">Great New User
                        </button>
                        <!--                                Форма Нового юзера Конец-->
                    </div>
                </div>
                <div class="col-4">
                </div>
            </div>
            <!--Конец New user -->
        </div>
    </div>
</div>
</div>
</div>ae
<script src="admin.js"></script>
<script src="admin-delete.js"></script>
<script src="admin-new.js"></script>
<script src="admin-update.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</body>
</html>